<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LauncherShyax.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LauncherShyax.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LauncherShyax.Configuration>
            <setting name="HostAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SiteAddress" serializeAs="String">
                <value>http://127.0.0.1</value>
            </setting>
            <setting name="ForumAddress" serializeAs="String">
                <value>http://127.0.0.1/forum/</value>
            </setting>
            <setting name="BugTrackerAddress" serializeAs="String">
                <value>http://127.0.0.1/track</value>
            </setting>
            <setting name="WorldServerPort" serializeAs="String">
                <value>8085</value>
            </setting>
            <setting name="RealmServerPort" serializeAs="String">
                <value>3724</value>
            </setting>
        </LauncherShyax.Configuration>
    </applicationSettings>
    <userSettings>
        <LauncherShyax.Configuration>
            <setting name="IsAllowedToDeleteCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WoWDirectory" serializeAs="String">
                <value>C://Users/Public/Games</value>
            </setting>
        </LauncherShyax.Configuration>
    </userSettings>
</configuration>